<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Blog Web</title>
</head>
<body>
    <form>
        <label for="title">Title</label>
        <input id="title" name="title" />
        <label for="content">Your blog post content</label>
        <input id="content" name="content" />
    </form>
</body>
</html>