<nav>
    <a href="/">Home</a>
    <% if (!isAuthenticated) { %>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    <% } else { %>
      <a href="/create">Create New Post</a>
      <a href="/logout">Logout</a>
    <% } %>
  </nav>